*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    min-width: 1200px;
}

header{
   background: url(img/headerbc.svg);
   padding: 1rem 2rem 6rem 0;
}

.nav-item a{
    color: #01010D;
}

.nav-item a:hover{
    color: #5c5c64;
    text-decoration: underline;
}

.nav button{
    margin-left: 1rem;
    background-color: #1617DB;
    color: #FFF;
}

.nav button:hover{
    color: #01010D;
}

.header-main-content h1{
    font-size: 3rem;
    font-weight: 700;
}

.header-main-content p{
    font-size: 1.5rem;
}

.header-main-content p:first-child{
    color: #6565EC;
}

.header-main-content button{
    text-align: center;
    padding: 0.5rem;
    background: none;
    border: none;
    border-radius: 0.5rem;
}

.header-main-content button img{
   padding-bottom: 0.3rem;
   margin-right: 0.2rem;
}

.header-main-content button:hover{
  background-color: #6565EC;
  color: #fff;
}

/*SECTION1*/

.section-1{
  margin: 5rem 0 5rem 0;
}

.section-1-title{
    margin-bottom: 5rem;
}
.section-1-title h2{
  font-size: 4rem;
}

.section-1-title p{
    text-align: center;
    width: 40%;
    font-size: 1.5rem;
}

.section-1 a{
    font-size: 1.7rem;
    color:#01010D;
    text-decoration: none;
}

.section-1 a:hover{
    color: #5c5c64;
    cursor: pointer;
}

/*SECTION2*/

.section-2-title{
    margin-top: 8rem;
    width: 50%;
}

.section-2-title a{
    color: #6565EC;
    text-decoration: none;
}

.section-2-title a:hover{
   color: #5c5c64;
}

.section-2-title img{
    padding-bottom: 0.5rem;
}

.section-2-title h2{
    font-size: 3rem;
}

.section-2-title p{
    font-size: 1.5rem;
}



.watch-card-1{
    width: 28vw;
    height: 450px;
    background: url(img/Group\ 40.png) no-repeat;
}
.watch-card-2{
    width: 28vw;
    height: 450px;
    background: url(img/Group\ 41.png) no-repeat;
}

.watch-card-3{
    width: 30vw;
    height: 450px;
    background: url(img/Group\ 42.png) no-repeat;
}

.watch-card-1,
.watch-card-2,
.watch-card-3{
  position: relative;
}

.watch-card-1 a,
.watch-card-2 a,
.watch-card-3 a{
    font-size: 3rem;
    color: #5c5c64;
    text-decoration: none;
    position: absolute;
    left: 20%;
    top: 70%;
}



